

{% extends 'core/base.html' %}

{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h1 class="title">Edit Profile</h1>

        {% if user.oinkerprofile.avatar %}
          
          <figure class="image is-128x128">
            <img src="{{ user.oinkerprofile.avatar.url }}" alt="">
          </figure>

        {% endif %}

        <hr>

          <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p}}

            <div class="field">
              <div class="control">
                <button class="button is-dark">
                  Save changes
                </button>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>
{% endblock %}